<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set Exercise Categories</title>
</head>
<body>
<div id="header">
    <h2>Set Exercise Categories</h2>
</div>
<div id="outer">
    <form method="post" onsubmit="">
        {{ categories_field.csrf_token }}
        <!-- When empty disable button-->
        <button type="submit" id="submit-exercises">Submit</button>
        {% for cur_exercise in exercises %}
        <div id="exercise">
            <label for="select-{{cur_exercise}}">{{cur_exercise}}</label>
            <select name="select-{{cur_exercise}}" id="select-{{cur_exercise}}">
                {% for name,value in categories_field.categories.choices %}
                <option name="{{name}}">{{value}}</option>
                {% endfor %}
            </select>
        </div>
        {% endfor %}
    </form>
</div>
</body>
</html>