<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Muscle Mappings</title>
	{% import './macros/_css_styles.html' as css_styles %}
	{{ css_styles.setup() }}
</head>
<body>
<div id="main-content">
	{% import './macros/_navbar.html' as navbar %}
	{{ navbar.content() }}
	<div class="mx-5 my-5" id="exercise-list">
		<form class="space-y-5" method="post">
			{{ muscle_group_field.csrf_token }}
			<div class="flex flex-row items-center gap-8 w-96" id="form-header">
				<h1 class="text-2xl w-fit max-w-fit">Set Muscle Mappings</h1>
				<button class="rounded block border px-2 py-2 w-fit max-w-fit bg-gray-100 border-2 hover:cursor-pointer"
						id="submit-exercises"
						type="submit">
					Submit
				</button>
			</div>

			<div class="grid grid-cols-3 gap-2 w-fit" id="mappings">
				{%- for cur_exercise in exercises -%}
				<label class="">
					<span>{{cur_exercise}}</span>
					<select class="w-full rounded" id="{{cur_exercise}}"
							name="{{cur_exercise}}">
						{% for name, value in muscle_group_field.categories.choices %}
						<option name="{{name}}">{{value}}</option>
						{% endfor %}
					</select>
				</label>
				{% endfor %}
			</div>
		</form>
	</div>
</div>
</body>
</html>