<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>{% block title %} Lift Progress {% endblock %} </title>
	{% import './macros/_css_styles.html' as css_styles %}
	{{ css_styles.setup() }}
</head>

<body>
<div id="main-content">
	{% import './macros/_navbar.html' as navbar %}
	{{ navbar.content() }}

	<div id="submit-form" style="display: block;">
		<form id="exercise-form" method="post">
			<label>Select a Category</label>
			{{ muscle_group_field.csrf_token }}
			{{ muscle_group_field.categories }}
			<label for="exercises">Select Exercise</label>
			<select
					id="exercises"
					name="exercises"
			></select>
			<label for="rep_ranges">Select a Target Reps Filter</label>
			<select
					id="rep_ranges"
					name="rep_ranges"
			></select>
			<button id="submit-btn" type="submit">Submit</button>
		</form>
	</div>
	<script src="{{ url_for('static',filename='js/graph.js') }}" type="text/javascript"></script>
	<script>
		changeSelects()
	</script>
	<div hidden id="exercise-results">
		<label for="exercise_info"></label>
		<input id="exercise_info"
			   value="{{exercise_info}}"/>
	</div>
</div>
</body>
</html>
