# created by virtualenv automatically
/.venv/*
.idea/*
.vscode/*
*.pyc

# Project Data
**/creds/*
**/.env
**/data/*
**/css/tailwind-build.css

# Package Dist
**/LiftJourney.egg-info
**/build/
**/node_modules/
**/package-lock.json
**/plotly.min.js
