# created by virtualenv automatically
/.venv/*
.idea/*
.vscode/*
*.pyc

# Project Data
**/creds/*
**/.env
**/data/*
**/templates/*DATA*.html
**/css/tailwind.css

# Package Dist
**/LiftJourney.egg-info
**/build/
**/node_modules/
