* {
    /* CSS HEX */
    --ivory: #F5F9E9ff;
    --spanish-orange: #F26417ff;
    --rose-quartz: #A88FACff;
    --pumpkin: #FF8C42ff;
    --dark-slate-gray: #36453Bff;

    --sky-blue: #7dbbc3ff;
    --tea-green: #daedbdff;
    --buff: #e5b181ff;
    --melon: #f4b9b2ff;
    --burnt-sienna: #de6b48ff;

    --icterine: #faf68cff;
    --dark-goldenrod: #ab831dff;
    --satin-sheen-gold: #c2982fff;
    --gamboge: #e8a23aff;
    --straw: #cad45fff;
}