.muscle-groups {
    display: flex;
    justify-content: left;
    align-items: center;
}

.muscle-groups .muscle-group-button {
    border: black 1px solid;
    cursor: pointer;
    margin: 0;
    background-color: lightsalmon;
    padding: 5px;

}