* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightblue;
    padding: 10px 30px;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    width: 40px;
    height: 40px;
}

.navbar .nav-links {
    display: flex;
    gap: 20px;
}

.navbar .nav-links a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    background: transparent;
    border: transparent;
}

.navbar .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    font: 14px normal;
}
