@import "tailwindcss";

@plugin "@tailwindcss/forms";

@theme {
    --color-ivory: oklch(97.48% 0.0214 118.21);
    --color-spanish-orange: oklch(67.4% 0.1913 43.07);
    --color-rose-quartz: oklch(68.21% 0.0506 321.64);
    --color-pumpkin: oklch(75.36% 0.16365923886484923 50.400874358102314);
    --color-dark-slate-gray: oklch(37.39% 0.0257 155.78);

    --color-primary: var(--color-ivory);
    --color-secondary: var(--color-black);
    --color-background: var(--color-dark-slate-gray);
}
