<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>{% block title %} Login {% endblock %} </title>
	{% import './macros/_css_styles.html' as css_styles %}
	{{ css_styles.setup() }}
</head>

<body>
{% block content %}
<div id="main-content">
	{% import './macros/_navbar.html' as navbar %}
	{{ navbar.content() }}

	<div id="login">
		{% from "./macros/_formhelpers.html" import render_field %}
		<form class="login-form" method="post">
			{{ form.csrf_token }}
			{{ render_field(form.email) }}
			{{ render_field(form.password) }}
			<button type="submit">Submit</button>
		</form>
	</div>
</div>
{% endblock %}
</body>
</html>