<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
	<meta name="viewport" content="width=device-width"/>
	<title>MFA Code</title>
	{% import './macros/_css_styles.html' as css_styles %}
	{{ css_styles.setup() }}
</head>

<body>
{% import './macros/_navbar.html' as navbar %}
{{ navbar.content() }}

<div class="mt-10 w-80 mx-auto border-2 border-black" id="main-content">
	<div id="mfa-headers">
		<h1 class="text-center m-5 text-2xl">Multifactor Authentication</h1>
	</div>
	<div id="MFA-Code">
		<form class="gap-6 grid grid-cols-1 mb-5" method="post">
			{{form.csrf_token}}
			<label class="block px-5">
				<span>Enter the 6-digit MFA code</span>
				<input class="w-full mx-auto bg-gray-100 rounded border-2" id="mfa_code" name="mfa_code" required
					   type="text"
					   value="">
			</label>
			<button class="rounded block border px-2 py-2 w-fit mx-auto bg-gray-100 border-2 hover:cursor-pointer"
					type="submit">Submit
			</button>
		</form>
	</div>
</div>
</body>
</html>